<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<div class="jumbotron">
  <div class="container">
    <h2 class="display-12">Network Calculator</h2>

  </div>

<form action="{{url_for('ipcalc_results')}}" autocomplete="off">

  <fieldset>

  <div class="container">
<br>
    <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="ipaddy">IP Address & Mask</label>
    <div class="col-md-4">
    <input id="ipaddy" name="ipaddy" type="text" placeholder="10.1.1.1/29 or 10.1.1.1 255.255.255.248" class="form-control input-md" required="" required pattern="^((\d{1,2}|1\d{2}|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d{2}|2[0-4]\d|25[0-5]).*$">

    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-12 control-label" for="calcbutton"></label>
    <div class="col-md-12">
      <button id="calcbutton" name="calcbutton" class="btn btn-primary">Calculate</button>
    </div>
  </div>

  </fieldset>
  </form>
</div>